<div>
  <h1> {{name}}</h1>
  <time>{{date}}</time>
  <h3>{{place}}</h3>
</div>
<div>
   <h3>{{job}}</h3>
  <h3>{{work}}</h3>
</div>
<div>
  <h4>{{good}}</h4>
  <h4>{{available}}</h4>
</div>
<div>
  <p>{{details}}</p>
</div>
  <div >
  <a href="../update/{{_id}}" id={{_id}} class="update-btn"> UPDATE</a>
  </div>
  <div >
  <a href ="../" id={{_id}} class="delete-btn"> DELETE</a>
  </div>
<div class="single-post">

</div>