
<div class="add-offer">
  <h1>UPDAT</h1>
  <h2>Updat your  volunteering offer </h1>
</div>
<form  id="offer" >
  <div class="from-group">
  <label for="name">I am :</label>
  <input type="hidden" name="id" value='{{_id}}'>
  <input type="text" name ='name' value="" placeholder="{{name}}">
  </div>
  <div class="form-group">
  <label for="place">I live in  :</label>
  <input type="text" name ='place' value="" placeholder=" {{place}}">
  </div> 
  <div class="form-group">
  <label for="job">My job is:</label>
  <input type="text" name ='job' value="" placeholder="{{job}}">
  </div> 
  <div class="form-group">
  <label for="work">I can help with :</label>
  <input type="text" name ='work' value="" placeholder="{{work}}">
  </div> 
   <label for="good">And am good with:</label>
  <input type="text" name ='good' value="" placeholder="{{good}}"> 
  </div> 
  <div class="form-group">
  <label for="available">I am available  :</label>
  <input type="text" name ='available' value="" placeholder="{{available}}">
  </div> 
  <div class="form-group">
  <label for="details">More details :</label>
  <input type="text" name ='details' value="" placeholder="{{details}} ">
   <div class="form-group">
     <button id="submit-btn" class="update-btn"> Update </button>
   </div>
      <div class="form-group">
     <a href="../" id="cancel-btn" type=""> cancel </a>
   </div>
  </div> 


</form>
